BREEZ_API_KEY=paste_your_breez_api_key_here

BREEZ_MNEMONIC=awkward kitten price throw smile cause rent lucky debate buffalo script convinceword1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12

BREEZ_STORAGE_DIR=./.breez_data

AT_API_KEY=paste_your_at_api_key_here
AT_USERNAME=sandbox

DATABASE_URL=sqlite:///./kobosats.db

APP_ENV=development

SECRET_KEY=7d7b178702cda98dfa9ab55e1e68ec6a0f53d82779f43742ce2b5b0d80df35ce

FRONTEND_URL=http://localhost:5173

NOSTR_RELAYS=wss://relay.damus.io,wss://relay.nostr.band,wss://nos.lol